body,
* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    color: #c2c2c2;
    margin: 0 auto;
}

header {
    width: 90%;
    height: 100px;
    text-align: center;
    margin-top: 30px;
}

.search input {
    width: 80%;
    height: 100px;
    font-size: 100px;
    font-weight: bold;
    color: #c2c2c2;
    opacity: 0.4;
}

button img {
    width: 60px;
    height: auto;
}

button, input {
    border: none;
}

main {
    width: 80%;
    font-size: 14px;
}

h3 {
    padding: 30px 0;
    display: inline-block;
}

div {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

ul {
    list-style: none;
    padding: 0;
    width: 90%;
    margin: 4px 0 0;
}

li {
    border: none;
    border-radius: 5px;
    background-color: rgba(118,117,128,0.05);
    width: 100%;
    height: 70px;
    display: inline-block;
    margin-bottom: 4px;
}

ul.people li img {
    border-radius: 50%;
}

ul.people li img,
ul.popular li img,
ul.recent li img {
    margin: 10px;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

ul li a:hover,
.search input {
    color: #ec5a62;
}

ul li:hover {
    background-color: rgba(118,117,128,0.1);
}
